.notification__link,
.notification__link:hover,
.notification__link:active {
  color: inherit;
  text-decoration: none;
}

.notification {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
  border-radius: 0.6rem;
  padding: 0.8rem;

  font-size: 1.5rem;
  background-color: var(--color-white);

  position: relative;
}

.notification.unread::after {
  --size: 1rem;
  content: "";
  display: block;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-blue);
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.notification:hover {
  background: rgba(0, 0, 0, 0.04);
}

.notification__img {
  --size: 5.6rem;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  flex-shrink: 0;

  position: relative;
}

.notification__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 50%;
}

.notification__info {
  padding-right: 2rem;
}

.notification__title {
  margin-bottom: 0.4rem;
}

.notification__title strong {
  font-weight: 600;
}

.notification__time {
  font-size: 1.3rem;
  color: var(--color-blue);
}

.notification__type {
  --size: 2.8rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
}

.notification__type.notification__type--comment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2ec152;
  color: var(--color-white);

  font-size: 1.4rem;
}

.notification__type.notification__type--reaction img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
