.card {
  background-color: var(--color-white);
  padding: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card a {
  color: inherit;
}

.user {
  display: flex;
  gap: 1.8rem;
}

.user__image {
  --size: 8rem;
  width: var(--size);
  height: var(--size);
}

.user__info {
  display: flex;
  align-items: center;
}

.user__info h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

.user__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.6rem;
}

.expand {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.expand:hover {
  cursor: pointer;
  background-color: #f0f2f5;
}

@media (max-width: 899px) {
  .card {
    padding: 1.2rem;
  }

  .user__image {
    --size: 3.6rem;
  }
}

@media (max-width: 500px) {
  .card {
    box-shadow: none;
    padding: 0.8rem;
  }

  .user__image {
    --size: 6rem;
  }

  .user__image img {
    border-radius: 50%;
  }
}
