.spinner {
  --size: 2rem;

  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  border-bottom: 2px solid var(--color-blue);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
