.main {
  background-color: var(--color-background);
  padding-top: var(--header-height);

  min-height: 100vh;

  position: relative;
  display: flex;
  flex-direction: column;
}

.popupchat {
  position: fixed;
  bottom: 0;
  right: 6rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  z-index: 1000;
}

@media (max-width: 499px) {
  .main {
    padding-top: 10rem;
  }
}
