.main {
  background-color: var(--color-background);
  padding-top: var(--header-height);
  padding-bottom: 2rem;

  min-height: 100vh;

  position: relative;
}

.popupchat {
  position: fixed;
  bottom: 0;
  right: 6rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
