.comment {
  display: flex;
  margin-top: 0.8rem;

  animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
  from {
    transform: translateY(-5px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.comment__avatar {
  --size: 3.2rem;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.8rem;

  flex-shrink: 0;
}

.comment__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment__info {
  padding: 0.6rem 1.4rem;
  background-color: #f0f2f5;
  border-radius: 1.8rem;
  font-size: 1.4rem;

  width: fit-content;

  position: relative;
}

.comment__info h6 {
  font-size: 1.4rem;
}

.comment__action {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 0.8rem;

  font-size: 1.3rem;
  font-weight: 600;

  position: relative;
}

.comment__action-reaction {
  position: relative;
  cursor: pointer;
}

.comment__action-reaction.Like {
  font-weight: 600;
  color: var(--color-blue);
}

.comment__action-reaction.Love {
  font-weight: 600;
  color: #f33e58;
}

.comment__action-reaction.Care,
.comment__action-reaction.Haha,
.comment__action-reaction.Wow,
.comment__action-reaction.Sad {
  font-weight: 600;
  color: #f7b125;
}

.comment__action-reaction.Angry {
  font-weight: 600;
  color: #e9710f;
}

.comment__action-reaction:hover .comment__reaction--hover {
  display: flex;
}

.comment__reaction--hover {
  padding: 0.4rem;
  background-color: var(--color-white);

  border-radius: 2.5rem;
  border: 1px solid var(--color-border);

  gap: 0.6rem;

  position: absolute;
  bottom: 100%;
  left: -2rem;

  display: none;
}

.comment__reaction--hover img {
  width: var(--small-img-size);
  height: var(--small-img-size);

  object-fit: cover;
  transition: transform 0.2s linear;
}

.comment__reaction--hover img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.comment__action-reply {
  cursor: pointer;
}

.comment:hover .comment__setting {
  display: flex;
}

.comment__setting {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin-left: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.7rem;
  color: var(--color-gray);
  position: relative;
  align-self: center;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.comment__setting:hover {
  cursor: pointer;
}

.comment__setting-modal {
  min-width: 10rem;

  padding: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-white);

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.comment__setting-modal ul {
  margin: 0;
}

.comment__setting-modal li {
  padding: 0.8rem;
  color: #050505;

  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.4rem;
}

.comment__setting-modal li:hover {
  cursor: pointer;
  background-color: var(--color-gray-light);
}

.remove__loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #555;
  background: rgba(250, 250, 250, 0.5);
}

.createAt {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-text-secondary);
}

@media (max-width: 500px) {
  .comment {
    max-width: 80%;
  }

  .comment__info h6 {
    margin: 0.6rem 0;
  }

  .comment__setting-modal {
    right: 0;
    left: unset;
    transform: none;
  }
}
