.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3.6rem;

  min-height: 100vh;
}

.sidebar {
  background-color: var(--color-white);
  padding: 1rem;
  border-right: 1px solid #eee;
}

.sidebar .heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

.sidebar a {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.6rem;

  font-size: 1.8rem;
  font-weight: 600;
  color: #222;

  text-decoration: none;
}

.sidebar a.active {
  background-color: #f0f2f5;
}

.sidebar a.active .icon {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.sidebar a:hover {
  background-color: #f0f2f5;
}

.sidebar .icon {
  --size: 3.8rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;

  font-size: 2rem;
  background-color: #e4e6eb;
}
