.container {
  position: relative;
}

.friend__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.friend__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading .spinner {
  --size: 3.6rem;
}
