.container {
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.4rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10rem;
}

.message {
  margin-top: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}
