.container {
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.4rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10rem;
}

.message {
  margin-top: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

@media (max-width: 907px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    max-width: 100%;

    margin: 0 auto;
  }
}

@media (max-width: 499px) {
  .container {
    padding: 0;
  }
}
