.contact {
  margin-top: 2rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading h6 {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;

  color: var(--color-gray);
}

.request-count {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  background-color: var(--color-blue);
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
}

.card {
  padding: 2rem;
  background-color: var(--color-white);
  margin-top: 1.2rem;
}
