.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.4rem;
  border-radius: 0.6rem;
  animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
  from {
    transform: translateY(4px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-item:hover {
  background-color: var(--color-gray-dark);
  cursor: pointer;
}

.contact-item + .contact-item {
  margin-top: 1.2rem;
}

.contact-item__info {
  display: flex;
  align-items: center;
}

.contact-item__info h6 {
  font-size: 1.3rem;
  font-weight: 600;
}

.contact-item__img {
  --size: 2.8rem;
  width: var(--size);
  height: var(--size);

  margin-right: 1.2rem;
}

.contact-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.4rem;
}

.contact-item__icon {
  --size: 1rem;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  background-color: var(--color-green);
}

.contact-item__count {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-red);
  color: var(--color-white);

  font-size: 1rem;
}
