.card {
  background-color: var(--color-white);
  padding: 2rem 1.2rem;

  margin-top: 1.2rem;
}

.invitation__info {
  display: flex;
  align-items: center;

  font-size: 1.3rem;
}

.invitation__img {
  width: var(--small-img-size);
  height: var(--small-img-size);

  margin-right: 1.2rem;
}

.invitation__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 1rem;
}

.invitation__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  margin-top: 1.2rem;
}

.button--blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}
