.setting {
  position: relative;
}

.setting__icon {
  --size: 3.6rem;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.setting__icon:hover {
  cursor: pointer;
  background-color: var(--color-gray-light);
}

.setting__modal {
  position: absolute;
  top: 100%;
  right: 0;

  width: 25rem;
  background-color: var(--color-white);

  padding: 1.2rem;
  z-index: 1;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.setting__modal ul {
  margin: 0;
}

.setting__modal li {
  font-size: 1.6rem;
  font-weight: 500;
  color: #111;

  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.6rem;
}

.setting__modal li:hover {
  background-color: var(--color-gray-light);
  cursor: pointer;
}

.setting__modal li i {
  font-size: 2rem;
  width: 3.2rem;
  color: #555;
}

.coppy__popup {
  position: fixed;
  left: 2rem;
  bottom: 1rem;

  padding: 1.6rem;
  background-color: #242526;
  color: #e4e6eb;
  font-weight: 300;

  display: flex;
  align-items: center;
  gap: 4rem;
}

.coppy__message {
  display: flex;
  align-items: center;
}

.coppy__message i {
  color: var(--color-green);
  margin-right: 0.6rem;

  font-size: 1.8rem;
}

.coppy__popup-close {
  --size: 2.4rem;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;

  cursor: pointer;
}

.overlay {
  z-index: 1;
}
