.setting__icon {
  --size: 3.6rem;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.setting__icon:hover {
  cursor: pointer;
  background-color: var(--color-gray-light);
}
