.message {
  display: block;
  text-align: center;

  font-size: 1.6rem;
  color: var(--color-gray);
  margin-top: 3.2rem;
}

.loading {
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
}

.spinner {
  --size: 2.4rem;
}
