* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --small-img-size: 4rem;
  --color-gray-light: #f0f2f5;
  --color-white-blue: #f2f5ff;
  --color-blue: #1877f2;
  --color-white: #fff;
  --color-red: #f02849;
  --color-gray: #aaa;
  --color-green: #42b72a;
  --color-border: #dddfe2;

  --color-background: #f0f2f5;

  --color-pink-light: rgb(255, 239, 242);
  --color-pink: rgb(254, 66, 86);

  --color-yellow-light: rgb(255, 251, 236);
  --color-yellow: rgb(255, 193, 2);

  --header-height: 7rem;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif !important;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

.relative {
  position: relative;
}
