.container {
  position: relative;
}

.form__input {
  margin-bottom: 1.4rem;
}

.form__input input {
  height: 5rem;
  padding: 1.8rem;
}

.submit button {
  height: 4.8rem;
  width: 100%;
  border-radius: 0.6rem;

  font-size: 1.5rem;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.divider {
  height: 1px;
  background-color: #dddfe2;
  margin: 2rem 0;
}

.register {
  text-align: center;
}

.register button {
  height: 4.8rem;
  width: 60%;
  border-radius: 0.6rem;

  font-size: 1.5rem;
  background-color: var(--color-green);
  color: var(--color-white);
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.5);
}
